@model IEnumerable<LibApp.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p>
    <a class="btn btn-primary" asp-action="New">New Book</a>
</p>

<table id="booksTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>Genre</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#booksTable').DataTable({
                "ajax": {
                    "url": "/api/Book",
                    "dataSrc": ""
                },
                "columns": [
                    { "data": "title" },
                    { "data": "genre.name" },
                    {
                        "render": function (data, type, row) {
                            return '<a href="/Book/Edit/' + row.id + '">Edit</a> | <a href="/Book/Details/' + row.id + '">Details</a>';
                        }
                    }
                ]
            });
        });
    </script>
}
